/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=20I0u0kllllaVYhayxJwoa6vL0V */

.primary-0 { color: #AA7939 }	/* Main Primary color */
.primary-1 { color: #FFDAA8 }
.primary-2 { color: #FFDBAB }
.primary-3 { color: #502E00 }
.primary-4 { color: #070400 }

.complement-0 { color: #29506D }	/* Main Complement color */
.complement-1 { color: #A8D5F7 }
.complement-2 { color: #7592A9 }
.complement-3 { color: #031F34 }
.complement-4 { color: #000305 }

body { font-family: 'Georgia', serif; }
.back_link { color:#7592A9; font-size:12pt;}
.column_wrapper { float:left; width:100%; height:700px;}
.left_column{ width:20%; height:100%; background-color:#7592A9; color:#031F34; float:left; font-size: 10pt;}
.right_column{ width:80%; height:100%; background-color:#FFDBAB; color:#070400; float:left; font-size: 12pt;}
.header{ background-color:#031F34; color:#FFDAA8; width:100%; height:90px; font-size:24pt;}
.padded { padding: 17px; }
.indent { padding-left: 10px; }